/* components/card/card.wxss */

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
}

.card image {
  width: 100%;
}

.card .title {
  background-color: #607d8b;
  color: white;
  padding: 10px;
}

.card .content {
  padding: 10px;
}
